<app-e-commerce-navbar></app-e-commerce-navbar>
<div class="container">
  <div class="my-5 col-md-6 col-12">
    <app-product-images-gallary></app-product-images-gallary>
  </div>
</div>

<div class="light-box">
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
          <app-product-images-gallary
            [gallaryMode]="ModalMode"
          ></app-product-images-gallary>
        </div>
      </div>
    </div>
  </div>
</div>
