@import "../../../../assets/styles/helpers/variables.scss";
.counter-container {
  width: 153px;
  background-color: $LightGrayishBlue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  @media (max-width:480px){
    width: 216px;
  }
  img {
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
