<div class="cart">
    <div class="container">
        <div class="cart-Header my-2">
            <h4>Cart</h4>
        </div>
        <div class="cart-body">
           <ng-container *ngIf="(cartService.cartItems |async)?.length">
            <div class="item my-3" *ngFor="let item of cartService.cartItems |async">
                <div class="product-image">
                    <img class="w-100 h-100" [src]="item.productImage" />
                </div>
                <div class="product-details">
                    <div class="product-name">
                        {{item.productName}}
                    </div>
                    <div class="product-price">
                        <span class="product-unit-price"> {{(item.productPrice *item.discount/100)|currency}}</span>
                        <span class="product-count"> x {{item.count}}</span>
                        <span class="product-total-price mx-2 bold ">{{((item.productPrice *item.discount/100) * item.count) |currency}}</span>
                    </div>

                </div>
                <div class="remove-product" (click)="OnDelete(item.productName)">
                    <img src="../../../../assets/images/E_commerce-product-page/icon-delete.svg" alt="delete" />
                </div>
            </div>
           </ng-container >
           <ng-container *ngIf="!(cartService.cartItems |async)?.length">
             <div class="no-items">
              Your cart is Empty
             </div>
           </ng-container>
           

        </div>
    </div>
</div>