@import "../../../../assets/styles/helpers/variables.scss";
.navbar {
  .row {
    border-bottom: 1px solid $GrayishBlue;
    position: relative;
    .left-side {
      display: flex;
      align-items: center;
      .navbar-toggler {
        border: none;
        box-shadow: none;
      }
      .links {
        ul {
          li {
            &:hover {
              border-bottom: 2px solid $Primary-color;
            }
            a {
              text-decoration: none;
              color: $GrayishBlue;
              &:hover {
                color: $DarkGayishBlue;
                font-weight: 700;
              }
            }
          }
          @media (max-width: 550px) {
            flex-direction: column;
            gap:10px;
          }
        }
        @media (max-width: 992px) {
            position: absolute;
            top: 90%;
            left: 50%;
            background-color: #fff;
            border: 1px solid #eee;
            padding: 10px;
            transform: translateX(-50%);
            width: 80%;
        }
      }
    }
    .right-side {
      align-items: center;
      justify-content: space-evenly;

      .cart{
        position: relative;
        cursor: pointer;
        span{
          position: absolute;
          width:15px;
          height: 15px;
          border-radius: 50%;
          background-color: $Primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 8px;
          top:-5px;
          right:-5px;
        }
      }
      .user-avatar {
        width: 40px;
        height: 40px;
        border: 2px solid $Primary-color;
        border-radius: 50%;
      }
    }
  }
}

::ng-deep .dropdown-menu.show{
  width:400px;
  top: 200%;
  left: -200px;
  @media (max-width:480px){
    width: 304px;
    left: -206px;

  }
}