<!-- <app-test1></app-test1>
<app-test2></app-test2>
<app-test3></app-test3>

<button (click)="mainService.getChangableText()">Print </button> -->
<router-outlet></router-outlet>
<!-- <button
  type="button"
  [iconPicker]="icon"
  [ipIconPack]="['mat','fa5']"
  (iconPickerSelect)="onIconSelect($event)"
>
  <i *ngIf="icon.includes('fa-'); else Else" [class]="icon"></i>

  <ng-template #Else>
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >{{icon}}</mat-icon
    >
  </ng-template>
</button> -->
