$Primary-color:hsl(26, 100%, 55%);
$secondary-color:hsl(25, 100%, 94%);
$Verydarblue: hsl(220, 13%, 13%);
$DarkGayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$LigthBlack: hsl(0, 0%, 0%)